{% extends 'Plantilla/Header.html' %} {% block content %}
{% load staticfiles %}

<div class="content container">

			<div class="panel panel-default">
		<div class="panel-heading">
			<h5>LISTA DE SECCIONES</h5>
		</div>
		<table id="my-table" class="table table-fixed">
				<thead>
    <tr>
		<th class="col-xs-4">Nombre</th>
		<th class="col-xs-4">Tipo</th>
		<th class="col-xs-4">Mostrar Detalle</th>
	</tr>
    </thead>
		<tbody>
		{% for seccion in secciones %}
		<tr>		
			<td class="col-xs-4">{{seccion.secc_nombre}}</td>
			<td class="col-xs-4">{{seccion.secc_tipo}}</td>
			<td class="col-xs-4"><a href="{% url "seccion" seccion.cepk_secc  %}"><img
							height="24" width="24" src="{% static 'images/actualizar.png' %}"></td>
		</tr>
		{% endfor %}

	</tbody>
</table>
</div>
	<label for="kwd_search">Buscar: &nbsp</label> 
	<input type="text" id="kwd_search" value="" style="border: 1px solid #ccc;border-radius: 4px;"/>
<form method="post" class="post-form">
		<button type="submit" class="save btn btn-default"
			onClick="history.go(-1);return true;" style="margin-top: 10px;">Retroceder</button>
	</form>
</div>

{% endblock %}