{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Login</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body style="background: white">

	<div style="background: gray; height: 5px;"></div>
	<div class="row">
		<div class="col-md-4"></div>
		<div
			style="background: #113442; margin-top: 20px; border-radius: 20px; padding: 3em;"
			class="col-md-4">

			<div style="padding-top: 5px; height: 40px;" align="center">
				<p class="text-primary"
					style="padding-bottom: 60px; font-size: 20px; color: white; font-weight: bold;">
					SISTEMA DE AUTOMATIZACION ESCOLAR</p>
			</div>

			<div style="display: block; height: 30px;"></div>

			<form action="/login/" method="post" class="form-horizontal">
				{% csrf_token %}
				<center>
					<img class="img-responsive img-circle"
						src="{% static 'images/login.jpg' %}" width="300"
						style="padding-top: 10px;">
				</center>
				<div style="padding-top: 15px;padding-right: 15px;padding-left: 15px;" class="form-group">
					<label for="InputUser" style="color: white;">Usuario</label> <input
						type="text" class="form-control" id="exampleInputEmail1"
						name="username" placeholder="Ingrese un usuario valido">
				</div>
				<div style="padding-bottom: 15px;padding-right: 15px;padding-left: 15px;" class="form-group">

					<label for="InputPassword" style="color: white;">Password</label> <input
						type="password" class="form-control" id="exampleInputPassword1"
						name="password" placeholder="Ingrese su clave">
				</div>
				<div class="col-sm-offset-4 col-sm-10">
					<button type="submit" class="btn btn-primary">Iniciar Sesion</button>
				</div>
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
</body>
</html>