{% extends 'Plantilla/Header.html' %} {% block content %}

<div class="content container">
	<div class="row">
		<div class="col-md-8">
			<!-- .per_apellpat -->
			<br />


			<form action="/elegirProfesor/" class="form-horizontal">
				<div class="form-group">
					<div style="padding-bottom: 20px; font-size: 15px;">
						<p class="text-muted">! SE ASIGNO SIN ERRORES !</p>
					</div>
					
					<button type="submit" class="btn btn-default">Asignar nuevo Profesor</button>

				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
