{% extends 'Plantilla/Header.html' %} {% block content %}

<div class="content container">
	<div class="row">
		<div class="col-md-8">
			<!-- Titulos -->
			<div style="border:2px solid #ccc;border-radius:8px;padding-top: 10px; width: 250px;">
				<div style="text-indent: 10;"><p class="text-muted">INFORMACION DE PROFESOR</p></div>
			</div>
			<!-- Fin Titulo -->
			<br />
			Nombres: &nbsp &nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.per_nombres}} {{profesor.cepk_per.per_apellpat}}">
			&nbsp &nbsp
			Especialidad: &nbsp &nbsp
			<input class="inputText" type="text" value="{{profesor.prof_especialidad}}">
			<p></p>
			Direccion: &nbsp &nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.per_nomcalle}}">
			&nbsp &nbsp
			Distrito: &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.cepk_distrito.distr_nombre}}">
			
			<br /><br /><br />	
			<!-- Titulos -->
			<div style="border:2px solid #ccc;border-radius:8px;padding-top: 10px; width: 320px;">
				<div style="text-indent: 10;"><p class="text-muted">ACTUALICE EL ESTADO DEL PROFESOR</p></div>
			</div>
			<!-- Fin Titulo -->
			<br />
			<form action="." method="post" class="post-form">
				{% csrf_token %} {{ form.as_table }}
				<button type="submit" class="save btn btn-primary"
					style="margin-top: 10px;">Aceptar</button>
				<button type="submit" class="save btn btn-default"
				onClick="history.go(-1);return true;" 
				style="margin-top: 10px; margin-right:20px;">Retroceder</button>
			</form>
			
		</div>
	</div>
</div>
{% endblock %}
