{% extends 'Plantilla/Header.html' %} {% block content %}
{% load staticfiles %}
<div class="content container">

	<div class="panel panel-default">
	<div style="float:right;padding: 16px;">
	<label for="kwd_search">Filtrar: &nbsp</label> 
	<input type="text" id="kwd_search" value=""
		style="border: 1px solid #ccc; border-radius: 4px;" />
	</div>
		<div class="panel-heading">
			<h5>SELECCIONE UN TUTOR PARA DESAGSINAR GRADO-SECCION</h5>
		</div>
		<table id="my-table" class="table table-fixed">
			<thead>
				<tr>
					<th class="col-xs-4">Nombre</th>
					<th class="col-xs-4">Especialidad</th>
					<th class="col-xs-4">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for tutor in tutores %}
				<tr>
					<td class="col-xs-4">{{tutor.cepk_per.per_nombres}}&nbsp{{tutor.cepk_per.per_apellpat}}</td>
					<td class="col-xs-4">{{tutor.tut_especialidad}}</td>
					<td class="col-xs-4"><a href="{% url "DesGradSecTutor" tutor.cepk_tut %}"><img
							height="24" title="Ver grado-seccion" width="24" src="{% static 'images/Go.png' %}"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

	<form method="post" class="post-form">
		<button type="submit" class="save btn btn-default"
			onClick="history.go(-1);return true;" style="margin-top: 10px;">Retroceder</button>
	</form>
</div>
{% endblock %}
