{% extends 'Plantilla/Header.html' %} {% block content %}
<div class="content container">
	<div class="row">
		<div class="col-md-8">
			<div style="padding-bottom: 20px; font-size: 15px;">
				<p class="text-muted">DATOS ADICIONALES DEL TUTOR</p>
			</div>
			<form action="/REG/Tutor/" method="post" class="post-form">
				{% csrf_token %} {{ form.as_p }}
				<button type="submit" class="save btn btn-primary"
					style="margin-top: 10px;">Registrar</button>
				<button type="submit" class="save btn btn-default"
				onClick="history.go(-1);return true;" 
				style="margin-top: 10px; margin-right:20px;">Retroceder</button>
			</form>

		</div>
	</div>
</div>
{% endblock %}
