{% extends 'Plantilla/Header.html' %} {% block content %}
{% load staticfiles %}
<div class="content container">
			<div style="text-indent:8; font-size: 16px;"><p class="text-muted">INFORMACION DEL PROFESOR</p></div>
			<br />
			<!-- Titulos -->
			<div style="border:2px solid #ccc;border-radius:8px;padding-top: 10px;">
				<div style="text-indent: 10;"><p class="text-muted">INFORMACION PERSONAL</p></div>
			</div>
			<!-- Fin Titulo -->
			<br />&nbsp
			Nombres: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.per_nombres}}">
			&nbsp &nbsp&nbsp&nbsp
			Apellidos:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.per_apellpat}} {{profesor.cepk_per.per_apellmat}}">
			<br/>&nbsp
			DNI: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.per_dni}}">
			&nbsp&nbsp&nbsp&nbsp
			Telofono: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.per_telf}}">
			<br />&nbsp
			Direccion: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.per_nomcalle}}">
			&nbsp&nbsp&nbsp&nbsp
			Distrito: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.cepk_per.cepk_distrito.distr_nombre}}">
			<br /><br />
			<!-- Titulos -->
			<div style="border:2px solid #ccc;border-radius:8px;padding-top: 10px;">
				<div style="text-indent: 10;"><p class="text-muted">INFORMACION ACADEMICA</p></div>
			</div>
			<!-- Fin Titulo -->
			<br />&nbsp
			Especialidad: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.prof_especialidad}}">
			&nbsp&nbsp
			Tipo Profesor: &nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.prof_tipo}}">
			<br/>&nbsp
			Grado Academico: 
			<input class="inputText" type="text" value="{{profesor.porf_gacademico}}">
			&nbsp
			Estado:
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input class="inputText" type="text" value="{{profesor.prof_estado}}" style="background-color:skyblue;">
			
<br /><br />
	<form method="post" class="post-form" style="margin-right:200px;">
		<button type="submit" class="save btn btn-default"
			onClick="history.go(-1);return true;" style="margin-top: 0px;">Retroceder</button>
	</form>
</div>
{% endblock %}
