{% extends 'Plantilla/Header.html' %} {% block content %} 
{% load staticfiles %}
<div class="content container">
			<!-- Titulos -->
			<div style="border:2px solid #ccc;border-radius:8px;padding-top: 10px;">
				<div style="text-indent: 10;"><p class="text-muted">INFORMACION DE CURSO</p></div>
			</div>
			<!-- Fin Titulo -->
			<br />
			Nombre: &nbsp &nbsp
			<input class="inputText" type="text" value="{{curso.cur_nombre}}">
			&nbsp &nbsp
			Tipo: &nbsp &nbsp
			<input class="inputText" type="text" value="{{curso.cur_tipo}}">
			<br />
			Estado: &nbsp &nbsp &nbsp
			<input class="inputText" type="text" value="{{curso.cur_testado}}">
<br />	
<br />
	<div class="panel panel-default">
	<div style="float:right;padding: 16px;">
		<label for="kwd_search">Filtrar: &nbsp</label> <input type="text"
		id="kwd_search" value=""
		style="border: 1px solid #ccc; border-radius: 4px;" />
	</div>
		<div class="panel-heading">
			<h5>LISTA DE GRADOS CON SECCION</h5>
		</div>
		<table id="my-table" class="table table-fixed">
			<thead>
				<tr>
					<th class="col-xs-3">Grado</th>
					<th class="col-xs-3">Nivel</th>
					<th class="col-xs-3">Seccion</th>
					<th class="col-xs-3">Mostrar Detalles</th>
				</tr>
			</thead>
			<tbody>

				{% for detSecGrad in listaSeccGrad %}

				<tr>
					<td class="col-xs-3">{{detSecGrad.cepk_grad.grad_nombre}}</td>
					<td class="col-xs-3">{{detSecGrad.cepk_grad.grad_nivel}}</td>
					<td class="col-xs-3">{{detSecGrad.cepk_secc.secc_nombre}}</td>
					<td class="col-xs-3"><a href="{% url "seccGrad_DCSG" curso.cepk_cur detSecGrad.cepk_gradsec   %}"><img
							height="24" width="24" src="{% static 'images/select.png' %}"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<form method="post" class="post-form">
		<button type="submit" class="save btn btn-default"
			onClick="history.go(-1);return true;" style="margin-top: 10px;">Retroceder</button>
	</form>
</div>

{% endblock %}
